body{
  background-color: black;
  display: flex;
  flex-direction: column;
  max-width: 99%;
}

a {
  color: pink;
}

a:visited {
  color: grey;
}

.title{
  color: orange;
  font-family: 'Bungee', cursive;
  font-size: 4em;
  display: inline-block;
  margin-bottom: 15px;
}

.profile-pic {
  height: 40vh;
  display: inline-block;
}

.links{
  display: inline-block;
  list-style-type: none;
  color: orange;
  margin-bottom: 10px;
}

.links li {
  float: left;
  background-color: black;
  z-index: 12;
}

.links li a {
  display: inline-block;
  padding: 8px;
}

.sticky {
  position: fixed;
  top: 0;
}

#about{
  color: white;
  font-family: 'Special Elite', cursive;
  font-size: 1.375em;
}


#projects{
  background-color: white;
  font-family: 'Monserrat', sans-serif;
  max-width: 100%;
}

#projects h1 {
  font-size: 40px;
  font-family: 'Bungee', cursive;
}

#projects p {
  display: block;
}

#projects-intro {
  padding: 2%;
}

.project-screenshot {
  margin: auto;
  /* display: inline-block; */
  max-width: 99%;
  height: auto;
}

.screenshots p {
  display: inline-block;
  /* margin: 30px; */
  max-width: 99%;
}

.fa-github{
  color: orange;
  margin-right: 10px;
}

.fa-linkedin{
  color: orange;
}
