body{
  background-color: black;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: pink;
}

a:visited {
  color: pink;
}

.intro {
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(165, 172, 164, 0.8), rgba(207, 215, 213, 0.8)), url(./Code.jpg);
  background-size: cover;
}

.intro ul {
  margin-right: 2em;
}

.intro .fa-github{
  color: black;
}

.intro .fa-linkedin{
  color: black;
}

.intro img {
  margin-top: 2em;
}

.intro .name{
  color: orange;
  font-family: 'Bungee', cursive;
  font-size: 4em;
  display: inline-block;
  margin-bottom: 15px;
  text-shadow: 2px 2px white;
}

.intro .profile-pic {
  height: 40vh;
  display: inline-block;
}

.intro .links{
  display: inline-block;
  list-style-type: none;
  color: orange;
  margin-bottom: 10px;
}

.intro .links li {
  float: left;
  background-color: rgba(6, 6, 6, 0.4);
  z-index: 12;
}

.intro .links li a {
  display: inline-block;
  padding: 8px;
}

.sticky {
  position: fixed;
  text-align: right;
  top: 0;
}

#projects{
  background-color: white;
  font-family: 'Monserrat', sans-serif;
  max-width: 100%;
}

#projects h1{
  text-shadow: 2px 2px orange;
  display: block;
  white-space: nowrap;
  font-size: 40px;
  font-family: 'Bungee', cursive;
  white-space: normal;
}

#projects-intro {
  padding: 1em;
}

#projects ul {
  list-style: none;
  max-width: 100%;
  display: block;
  white-space: nowrap;
  overflow: auto;
}

#projects li {
  max-width: 100%;
  display: inline-block;
}

#projects p {
  display: block;
}

#projects .screenshots .fa-github{
  color: orange;
}

#projects .project-description {
  background-color: rgba(178, 175, 180, 0.4);
  margin: auto;
  max-width: 99%;
  height: auto;
  margin-right: 3em;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

#projects .project-description p{
  white-space: normal;
}

#about h2 {
  background-color: black;
  color: white;
  font-family: 'Special Elite', cursive;
  font-size: 1em;
}

#about h1 {
  font-family: 'Bungee', cursive;
  color: orange;
  text-shadow: 2px 2px white;
}

#about .fa-github{
  color: orange;
  margin-right: 10px;
}

#about .fa-linkedin{
  color: orange;
}
